@* 
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
*@
<!--
<div class="container mt-4">
    <h1>Welcome to your Dashboard</h1>
    <p>Placeholder for main dashboard. User will get redirected to there own specific role-based dashboard.</p>
</div>
-->
